<div id="subscriptions">
  <div class="container">
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <th colspan="7" class="text-center"><h3><%= monthName %></h3></th>
      </tr>
      <tr>
        <% for (let day = 0; day < 7; day++) { %>
          <th class="text-center"><h4 class="text-monospace"><%= startingDay.day(day).format('ddd') %></h4></th>
        <% } %>
      </tr>
      <% while (startingDay.isBefore(endingDate)) { %>
        <tr>
          <% for (let day = 0; day < 7; day++) {
            let dateText = startingDay.day(day).format('YYYY-MM-DD');
          %>
            <td class="text-center">
              <toggle-subscription
                :date="'<%= dateText %>'"
                :day="'<%= startingDay.day(day).format('DD') %>'"
                :subsclass="'<%= subscriptionClass[dateText] || 'btn-danger' %>'">
              </toggle-subscription>
            </td>
          <% } %>
        </tr>
      <% startingDay.add(7, 'day'); } %>
    </table>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
